# Access 接入交换机配置 (S3700)
# 接口：Ethernet0/0/1~22(百兆) + GE0/0/1~2(千兆)

vlan {{ vlan_id }}

interface {{ uplink }}
 description Uplink_Agg
 port link-type trunk
 port trunk allow-pass vlan {{ vlan_id }} 1

interface Ethernet0/0/1
 description {{ dept }}_PC1
 port link-type access
 port default vlan {{ vlan_id }}
 stp edged-port enable

interface Ethernet0/0/2
 description {{ dept }}_PC2
 port link-type access
 port default vlan {{ vlan_id }}
 stp edged-port enable

#`stp edged‑port enable`：**边缘端口**。接 PC 终端，不参与 STP/RSTP 生成树计算；
#插上电脑接口立刻 UP，不需要生成树收敛等待；**禁止接交换机，接交换机会产生环路风险**。

interface Ethernet0/0/1
 port-security enable
 port-security max-mac-num 2
 #该接口最多允许学习**2 个 MAC 地址**。限制接口最多接 2 台设备，防止私接小交换机扩展网口。
 port-security protect-action restrict
#违规动作。超过最大 MAC 数量，**丢弃非法报文，设备产生告警日志，接口不会 shutdown**。

interface Ethernet0/0/2
 port-security enable
 port-security max-mac-num 2
 port-security protect-action restrict

interface Vlanif 1
 ip address {{ mgmt_ip }} 255.255.255.0

ip route-static 0.0.0.0 0.0.0.0 {{ gateway }}